# =========================
# IDE and Editor Files
# =========================
# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr


.DS_Store
Thumbs.db
db.json
*.log
node_modules/
package-lock.json
public/
.deploy*/
_multiconfig.yml
